.list {
  display: flex;
  flex-direction: column;
  color: rgba(255, 128, 128, 1);
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}
