.wrapper {
  position: relative;
  width: 100%;
}

.input {
  padding-right: 2.75rem;
}

.button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon path,
.icon circle {
  fill: var(--blue);
}

.error path,
.error circle {
  fill: var(--error);
}

.success path,
.success circle {
  fill: var(--success);
}
