.input {
  width: 100%;
  max-width: 19.5rem;
  padding: 0.8125rem 1.25rem;
  border: 1px solid var(--white);
  border-radius: 0.625rem;
  outline: none;
  transition: border-color 0.3s;
  background: var(--white);
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.input::placeholder {
  color: var(--blue);
}

.input:focus {
  border-color: var(--blue);
}

.input:focus::placeholder {
  color: var(--dark-blue);
}

.input:disabled {
  color: var(--disabled);
  border-color: var(--disabled);
  background-color: var(--disabled-bg);
}

.error:not(:focus) {
  color: var(--error);
  border-color: var(--error);
  background-color: var(--error-bg);
}

.error::placeholder {
  color: var(--error);
}

.success:not(:focus) {
  color: var(--success);
  border-color: var(--success);
  background-color: var(--success-bg);
}

.success::placeholder {
  color: var(--success);
}
